
{% extends 'base.html' %}



{% block head %}
<title> Flask tutorial by peeyush sahu</title>
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
<div class="cnt">

<br>
<p>The Promotion Form</p><br>


{% if data['name']!="" : %}
User Name : {{data2['name']}} <br>
Password : {{data['pass']}} 
{% endif %}







<form action="/" method="POST">
<input type="text" name="name" placeholder="Entername">
<input type="password" name="pass" placeholder="Enter Password">

<button type="submit" class="btn btn-primary"> Submit</button>
<button type="reset" class="btn btn-primary"> Reset</button>

</form>

{% endblock %}

