body{
    background-image: url("../teams3.jpg");
 background-repeat: no-repeat, repeat;
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}
#b1{
    background-color: white;
        border: 3px solid #18665c;
        color: #4ca8af;
        text-transform: uppercase;
        height: inherit;
        width: inherit;
        transition: background-color 0.5s ease, color 1s ease;
        font-size: 30px;
        box-shadow: 10px 10px rgba(77, 77, 77, 0.5);
        margin-right: 140px;
        
      }
      
      #b1:hover {
        background-color: #4c7faf;
        color: white;
      }
      
      ul{
   
        padding:0px;
       
        list-style:none;
      }
      
      
        li{
            color: #065c58;
            font-size: 30px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 1px;
            font-family: 'Raleway', serif;
          }
     
          
      
      
      
      li span{
        font-size:16px;
      
        color:#a0a29d;
        margin-right:40px;
         height: 32px;
        line-height: 32px;
      
       
      }    
      h2 {
        text-align: center;
        font-weight: normal;
        color: #fff;
        text-transform: uppercase;
        font-size: 50px;
        white-space: nowrap;
        
        z-index: 1000;
        font-family: 'Bangers', cursive;
        
        
       
      }
      h3{
        text-align: center;
        font-weight: normal;
        color: #fff;
        text-transform: uppercase;
        font-size: 30px;
        white-space: nowrap;
        
        z-index: 1000;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
        
       
      }
     