/* body{
    background-image: url("../teams3.jpg");
 background-repeat: no-repeat, repeat;
 background-position: center; /* Center the image */
/* background-repeat: no-repeat; Do not repeat the image */
*/
 /* background-size: cover; Resize the background image to cover the entire container */

  .create-button {
  background-color: rgb(195, 117, 214);
  border: 3px solid #18665c;
  color: #4ca8af;
  text-transform: uppercase;
  height: inherit;
  width: inherit;
  transition: background-color 0.5s ease, color 1s ease;
  font-size: 10px;
  box-shadow: 10px 10px rgba(77, 77, 77, 0.5);
  margin-right: 140px;
  padding: 15px 32px;
}

.create-button:hover {
  background-color: #4c7faf;
  color: rgb(136, 72, 192);
}
.teams-heading {
  text-align: center;
  font-family: "Raleway", serif;
}
.teams-heading h2 {
  text-align: center;
  margin-right: 120px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul {
  padding: 0px;
  list-style: none;
}

.box h4 {
  color: #065c58;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  font-style: bold;
  font-family: "Raleway", serif;
}
h2 {
  text-align: justify;
  font-weight: normal;
  color: rgb(37, 3, 70);
  text-transform: uppercase;
  font-size: 40px;
  white-space: nowrap;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  margin-bottom: 20px;
}
#myform {
  width: 250px;
  color: #08051a;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 1s ease;
  font-size: 15px;
  text-align: center;
  height: 30px;
  display: inline;
}
.admin-button {
  font-size: 30px;
  padding-right: 100px;
  padding-left: 100px;
  color: rgb(36, 5, 65);
}
.see-wall {
  align-items: center;
  margin-top: 30px;
  font-size: 17px;
  padding: 4px 3px;
  width: 200px;
  color: rgb(36, 5, 65);
  transition: background-color 0.1s ease, color 0.1s ease;
  text-transform: uppercase;
  font-family: "Raleway", serif;
  border: 2px solid #7c7c7c;
}
.see-wall:hover {
  background-color: #4c7faf;
  color: white;
}
.button button {
  width: 250px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  display: inline;
}
.ul-team li{
  color: #065c58;
  font-size: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Raleway", serif;
 } 