{% extends 'sidebar.html'%}
{% block rightpanel %}

<link rel="stylesheet" href="../static/css/sticky.css">
<link rel="stylesheet" href="../static/css/emphasis.css">
<div style="overflow: hidden">
 
  <p id="destroyInit" class="init">
    </p>

  <main class="page-content">
      <div class="container">


        <div class="animated animatedFadeInUp fadeInUp" id="empathizeheading">
          <h2 align="center" style="margin-right: 140px;">Admin Panel</h2>
      </div>
      


       
        
        <div id="wrapper" ></div>
      
        <section id="content" >
            <section id="stkyOvrly" class="ovrly hidden">
                <textarea class="txtBox"></textarea>
                <input id="crteStkyBtn" class="crteBtn btn ntActv" type="button" value="Create" />
                <input id="cnclStkyBtn" class="cnlBtn btn" type="button" value="Cancel" />
            </section>

            


            <section align="center">
                <ul id="stkyNts" class="stkyCntr">

                  






                </ul>
            </section>
        </section>
        
      </div>
    </main>
    
</div>

  <script>
   
   function check()
   {  
     $.post("/people").done(function(data) {
        console.log(data);                
        }); 
   }
   setInterval(function(){ check(); }, 3000);

  </script>
  <script src="../static/js/sticky.js"></script>
{% endblock %}

