<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/bd7dad32c1.js" crossorigin="anonymous"></script>

    
	  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/chatbox.css">
    <link rel="stylesheet" href="../static/css/timer.css">

    <title>Admin Panel</title>
  </head>
  <body>

    

   

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">Virtual Design Workshop</a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>

            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-role">Administrator</span>
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Online</span>
                </span>
              </div>
            </div>
            <!-- sidebar-header  -->
            
            <!-- sidebar-search  -->
            <div class="sidebar-menu" style="text-align: left;">
              <ul>
                <li class="header-menu">
                  <span>OPTIONS</span>
                </li>
               
                <li>
                  <a style="text-align: left;" href="/admin/teams">
                    <i class="fa fa-book"></i>
                    <span>Teams</span>
                    
                  </a>
                </li>
                <li>
                  <a style="text-align: left;white-space: nowrap;" href="/admin/people">
                    <i class="fa fa-book"></i>
                    <span>Participants List</span>
                    
                  </a>
                </li>
                <li>
                  <a style="text-align: left;" href="/logout">
                    <i class="fa fa-book"></i>
                    <span>Logout</span>
                    
                  </a>
                </li>
                       
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <a href="#">
              <i class="fa fa-envelope"></i>
              <!-- <i class="fas fa-sms"></i> -->
            </a>
           
          </div>
        </nav>
        <!-- sidebar-wrapper  -->

        {% block rightpanel %}
        {% block chatbox %}
        {% endblock %}

        {% endblock %}
        <!-- page-content" -->
      </div>
      <!-- page-wrapper -->

      

</body>


<script src="../static/js/sidebar.js"></script> 
<script src="../static/js/timer.js"></script>

</html>