	<!-- Mask -->

<div class="chatboxbody">
	<section class="chatbox js-chatbox">
		<div class="chatbox__header">
		  <h3 class="chatbox__header-cta-text"><span class="chatbox__header-cta-icon"><i
						class="fas fa-comments"></i></span>Chat Room</h3>
		  <button class="js-chatbox-toggle chatbox__header-cta-btn u-btn"><i class="fas fa-chevron-up"></i></button>
		</div>
		<!-- End of .chatbox__header -->
		<div id="chat" class="js-chatbox-display chatbox__display">

		</div>
		<!-- End of .chatbox__display -->
		<div class="js-chatbox-form chatbox__form">
		  <input id="text" type="text" class="js-chatbox-input chatbox__form-input" placeholder="Type your message..." required>
		  <button id="textInput" onclick="getBotResponse();" class="chatbox__form-submit u-btn"><i class="fas fa-paper-plane"></i></button>
		</div>
		<!-- End of .chatbox__form -->
	  </section>
	  <!-- End of .chatbox -->
</div>
<script src="../static/js/chatbox.js"></script>
