<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="../static/css/prototype.css"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bd7dad32c1.js" crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/finalwallfinal.css">

    <title>Document</title>
</head>

<body>

    <div>
        <div >
            <div id="protosticky" class="">
            </div>
        </div>
        <div style="clear:both;">
            <ul id="stkyNts" class="stkyCntr">
            </ul>
        </div>
    </div>






    <script>

        wid = `{{ user['wid'] }}`;
        uid = `{{ user['uid'] }}`;
        gid = `{{ user['gid'] }}`;
        name = `{{ user['name'] }}`;
        //document.getElementById('user_name').textContent=name;
        //document.getElementById('user_role').textContent="PARTICIPANT";


        window.addEventListener('load', (event) => { getProto(); getSticky(); });


        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }


        function getSticky() {

            $.get("/returnStickyFinalWall", { "workid": wid, "grpid": gid }).done(function (data) {

                for (i = 0; i < data.length; i++) {

                    if (data[i]["textnote"] != null) {
                        console.log("getsticky", data[i]["textnote"]);
                        $('#stkyNts').append('<li class="box" style="display:block;" id="' + data[i]["notesid"] + '">' + '<div style =" align-items=right;">   </div><div>' + data[i]["textnote"] + '</div>' + '</li>');
                    }
                }
            });


        }





        function add(id, img) {

            var str = `<div class='screen' id='mobilescreen' style="float:left;">
        <div id='speaker'><br></div>
          <div id='maincontainer'>
          <canvas id='myCanvas`+ id + `'></canvas>
          </div>
  
        <div style="display:flex;">
       
  
  
  
        <div class='controlder' onclick='select(`+id+`)'></div>
          
        </div>
  
  
  
      </div>
  
     </div>`;

            $('#protosticky').append(str);

            var myCanvas = document.getElementById("myCanvas" + id);

            myCanvas.width = "320"; // Optional
            myCanvas.height = "360";

            var ctx = myCanvas.getContext('2d');
            var myImage = new Image();
            myImage.src = img;
            myImage.onload = function () {
                ctx.drawImage(myImage, 0, 0, 320, 360);
            };


     }


        function getProto() {

            $.get("/returnProto").done(function (data) {

                for (i = 0; i < data.length; i++) {
                    console.log("getProto", data[i]["imgid"]);
                    id = data[i]["imgid"];

                    if (data[i]["textnote"] == null) {
                        add(id, data[i]["image"]);
                    }

                }
            });


        }

    </script>

</body>




</html>