{% extends 'adminsidebar.html'%}

{% block rightpanel %}

<!-- <link rel="stylesheet" href="../static/css/sticky.css"> -->
<link rel="stylesheet" href="../static/css/emphasis.css">
<link rel="stylesheet" href="../static/css/participants.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div style="overflow: hidden">

  <p id="destroyInit" class="init">
    </p>

  <main class="page-content">
      <div class="container">


        <div class="animated animatedFadeInUp fadeInUp" id="empathizeheading">
          <h2>Participants List</h2>
      </div>





        <div id="wrapper" ></div>

        <section id="content" >
            <!-- <section id="stkyOvrly" class="ovrly hidden">
                <textarea class="txtBox"></textarea>
                <input id="crteStkyBtn" class="crteBtn btn ntActv" type="button" value="Create" />
                <input id="cnclStkyBtn" class="cnlBtn btn" type="button" value="Cancel" />
            </section> -->




            <section align="center">

<div id="accordion" class="w3-container">
<ul class="list-group" class="participants">

</ul>
</div>

</section>
        </section>

      </div>
    </main>

</div>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  var interval = 1000;
  function doAjax() {
    $.ajax({
      type: 'POST',
      url: '/admin/people/showparticipants',
      // data: $(this).serialize(),
      dataType: 'json',
      success: function (data) {
        // $('#hidden').val(data);// first set the value  
        // console.log(JSON.stringify(data))  
        // users = JSON.parse(data)
        // console.log(users)

        users = data
        const container = document.getElementById('accordion');
        const ul = document.createElement('ul');
        $('.participants').remove();
        ul.className = "participants"
          for (var key in users) {
            var value = users[key];
            var li = document.createElement("li");
            li.className="box";
            li.appendChild(document.createTextNode(value));
            ul.appendChild(li);
          }
          container.appendChild(ul);
      },
      complete: function (data) {
        // Schedule the next
        setTimeout(doAjax, interval);
      }
    });
  }
  setTimeout(doAjax, interval);

    // const request = new XMLHttpRequest();
    // request.open('POST', "/verifylogin");
    // request.setRequestHeader('Content-type', 'application/json');
    // request.onload = () => {
    //   const response = request.responseText;
    //   console.log(response)
    //   const obj = JSON.parse(response)
    //   for (let x in obj) {
    //     var ul = document.getElementById("list");
    //     var li = document.createElement("li");
    //     li.appendChild(document.createTextNode(obj[x]));
    //     ul.appendChild(li);
    //   }
    // };
    // request.send();
</script>
{% endblock %}