{% extends 'adminsidebar.html'%}

{% block rightpanel %}
<link rel="stylesheet" href="../static/css/teams.css">
<link rel="stylesheet" href="../static/css/sticky.css">
<link rel="stylesheet" href="../static/css/emphasis.css">

<div style="overflow: hidden">

  <p id="destroyInit" class="init">
  </p>

  <main class="page-content">
    <div class="container">

      <div class="animated animatedFadeInUp fadeInUp" id="empathizeheading">
        <h2 align="center" style="margin-right: 140px;">Teams</h2>
        <br>
        <br>
        <p1 align="center" style="margin-right: 140px;">To create teams for the workshop - Enter the count<br> of
          members in team and then click on create.</p1>
        <br>
        <br>
        <form id="myForm" method="POST">
          <input type="number" min="1" placeholder="count" name="count" id="myform">
        </form>
        <br>
        <br>
        <div class="button" style="padding-right: 120px;">
          <button style="font-size:30px; padding-right: 100px; padding-left:100px; color: rgb(36, 5, 65);"
            id="b1">CREATE</button>
        </div>
      </div>


      <div id="wrapper"></div>

      <section id="content">


        <section align="center">

          <div id="accordion">

          </div>

        </section>
      </section>

    </div>
  </main>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/demo.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    button = document.getElementById('b1');
    button.onclick = () => {
      var elements = document.getElementById("myForm").elements;
      var formjson = {};
      for (var i = 0; i < elements.length; i++) {
        var item = elements.item(i);
        formjson[item.name] = item.value;
      }
      console.log(formjson)
      const request = new XMLHttpRequest();
      request.open('POST', "/admin/createTeams");
      request.setRequestHeader('Content-type', 'application/json');
      request.onload = () => {
        const response = request.responseText;
        console.log(response)
        const obj = JSON.parse(response)
        const container = document.getElementById('accordion');
        $('.box').remove();

        for (let x in obj) {
          console.log(x)
          const ul = document.createElement('ul');
          ul.className = "box"//add class here to change ui
          const btn = document.createElement("button");
          btn.classList.add('see-wall');
          btn.id = x;
          btn.appendChild(document.createTextNode('see wall'));
          btn.onclick = seewall;
          for (let y in obj[x]) {
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(obj[x][y]));
            ul.appendChild(li);
          }
          ul.appendChild(btn);
          container.appendChild(ul);
        }
      };
      // JSON.stringify({ "count": count })
      request.send(JSON.stringify(formjson));
    };
  });

  function seewall() {
    route ="/finalwall/"+this.id;
    console.log(route);
    location.href = route;
  }






  const bg = new MousemoveBGColors();
  /* const bg = new MousemoveBGColors({
         target : 'body' //(string) element selector // default : 'body'
        ,transition : .2 //(float|int) transition duration // default: .09
        ,delay:.03 //(float|int) transition delay // default: 0 
        ,center: [255, 255, 255] //(array) rgb color in the center // default : [168, 218, 218]
        ,topMiddle: [168, 218, 218]  //(array) rgb color in top middle // default : [168, 218, 218]
        ,leftMiddle: [236, 236, 236]  //(array) rgb color in the center // default : [168, 218, 218]
        ,rightMiddle: [255, 120, 63] //(array) rgb color in the center // default : [255, 128, 63]
        ,bottomMiddle: [0, 107, 107] //(array) rgb color in the center // default : [168, 218, 218]
        });
  */
  const initButtons = (function () {
    const btn = document.getElementById('destroyInit');
    btn.addEventListener('click', (e) => {
      e.currentTarget.classList.toggle('init')
      e.currentTarget.classList.toggle('destroy');
      if (e.currentTarget.classList.contains('destroy')) {
        bg.destroy();
      } else {
        bg.init();
      }

    })
  }());


  function MousemoveBGColors(options) {
    const _this = this;
    const defaultOptions = {
      target: "body"
      , transition: .09
      , delay: 0
      , center: [168, 218, 218] // green
      , topMiddle: [168, 218, 218]
      , leftMiddle: [236, 236, 236] // gris
      , rightMiddle: [255, 128, 63] // orange;
      , bottomMiddle: [204, 177, 218] // purple;

    }
    let colorsAvg = {
      topLeft: null
      , topRight: null
      , bottomLeft: null
      , bottomRight: null
    };

    let ww;
    let wh;

    options = { ...defaultOptions, ...options };

    this.init = function () {
      colorsAvg.topLeft = this.average(options.leftMiddle, options.topMiddle);
      colorsAvg.topRight = this.average(options.topMiddle, options.rightMiddle);
      colorsAvg.bottomLeft = this.average(options.leftMiddle, options.bottomMiddle);
      colorsAvg.bottomRight = this.average(options.bottomMiddle, options.rightMiddle);
      this.getSizes();

      window.addEventListener('mousemove', this.mousemove, true);
      window.addEventListener('resize', this.getSizes, true);
      document.querySelector(options.target).classList.add("mousemoveBGColorsInitialized");

    }



    this.destroy = function () {

      window.removeEventListener('mousemove', _this.mousemove, true);
      window.removeEventListener('resize', _this.getSizes, true);
      document.querySelector(options.target).classList.remove("mousemoveBGColorsInitialized");

      const target = document.querySelector(options.target);
      target.style.backgroundColor = null;

      if (options.transition > 0) {
        target.style.transitionDuration = null;
      }

      if (options.delay > 0) {
        target.style.transitionDelay = null;
      }
    }

    this.getSizes = function () {
      const win = window;
      const doc = document;
      const docEl = doc.documentElement;
      const body0 = doc.getElementsByTagName('body')[0];
      ww = win.innerWidth || docEl.clientWidth || body0.clientWidth;
      wh = win.innerHeight || docEl.clientHeight || body0.clientHeight;
    }

    this.average = function (a, b) {
      return [0.5 * (a[0] + b[0]), 0.5 * (a[1] + b[1]), 0.5 * (a[1] + b[1])];
    }
    this.interpolate2D = function (x00, x01, x10, x11, x, y) {
      return x00 * (1 - x) * (1 - y) + x10 * x * (1 - y) + x01 * (1 - x) * y + x11 * x * y;
    }
    this.interpolateArray = function (x00, x01, x10, x11, x, y) {
      let result = [0, 0, 0];
      for (let i = 0; i < 3; ++i) {
        result[i] = Math.floor(_this.interpolate2D(x00[i], x01[i], x10[i], x11[i], x, y));
      }
      return result;
    }

    this.mousemove = function (e) {
      let positionX = e.pageX / ww;
      let positionY = e.pageY / wh;
      let x00, x01, x11, x10;

      if (positionX > 0.5 && positionY > 0.5) {
        x00 = options.center;
        x01 = options.bottomMiddle;
        x10 = options.rightMiddle;
        x11 = colorsAvg.bottomRight;
        positionX = 2.0 * (positionX - 0.5); // scale position back to [0, 1]
        positionY = 2.0 * (positionY - 0.5);
      } else if (positionX > 0.5 && positionY <= 0.5) {
        x00 = options.topMiddle;
        x01 = options.center;
        x10 = colorsAvg.topRight;
        x11 = options.rightMiddle;
        positionX = 2.0 * (positionX - 0.5);
        positionY = 2.0 * (positionY);
      } else if (positionX <= 0.5 && positionY <= 0.5) {
        x00 = colorsAvg.topLeft;
        x01 = options.leftMiddle;
        x10 = options.topMiddle;
        x11 = options.center;
        positionX = 2.0 * (positionX);
        positionY = 2.0 * (positionY);
      } else if (positionX <= 0.5 && positionY > 0.5) {
        x00 = options.leftMiddle;
        x01 = colorsAvg.bottomLeft;
        x10 = options.center;
        x11 = options.bottomMiddle;
        positionX = 2.0 * (positionX);
        positionY = 2.0 * (positionY - 0.5);
      } else {
        // can't happen
      }
      const rgb = _this.interpolateArray(x00, x01, x10, x11, positionX, positionY);

      const target = document.querySelector(options.target);
      target.style.backgroundColor = 'rgb(' + rgb.join(',') + ')';


      if (options.transition > 0) {
        target.style.transitionDuration = options.transition + 's';
      }
      if (options.delay > 0) {
        target.style.transitionDelay = options.delay + 's';
      }
    }
    this.init();

  }




</script>
{% endblock %}