<html>

<body>
  <!-- <form name="createTeamsform" action="/admin/createTeams" method="POST">
    <input type="number" min="1" placeholder="Name" name="count">
    <button type="submit">
      create teams
    </button>
  </form> -->
  <div  id="accordion">

  </div>
  <button id="b1">create</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/demo.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    button = document.getElementById('b1');
    button.onclick = () => {
      const request = new XMLHttpRequest();
      request.open('POST', "/admin/createTeams");
      request.setRequestHeader('Content-type', 'application/json');
      request.onload = () => {
        const response = request.responseText;
        console.log(response)
        const obj = JSON.parse(response)
        const container = document.getElementById('accordion');
        for (let x in obj) {
          console.log(x)
          const ul = document.createElement('ul');
          for (let y in obj[x]) {
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(obj[x][y]));
            ul.appendChild(li);
          }
          container.appendChild(ul);
        }
      };
      request.send();
    };
  });
</script>
<html>